# Ignore everything outside software/
code/* linguist-generated
code/.qsys_edit/** linguist-generated
code/base_sys/** linguist-generated
code/db/** linguist-generated
code/incremental_db/** linguist-generated
code/output_files/** linguist-generated

# Specifically allow the software/ folder to count
code/software/base_sys_eval_bsp/.settings/** linguist-language=SystemVerilog
code/software/base_sys_eval_bsp/drivers/** linguist-language=SystemVerilog
code/software/base_sys_eval_bsp/HAL/** linguist-language=SystemVerilog
code/software/base_sys_eval_bsp/obj/** linguist-language=SystemVerilog

code/software/base_sys_eval/.settings/** linguist-language=SystemVerilog
code/software/base_sys_eval/obj/** linguist-language=SystemVerilog
code/software/base_sys_eval/system/** linguist-language=SystemVerilog

# (Optional) Force SystemVerilog language tagging
*.sv linguist-language=SystemVerilog
*.v  linguist-language=SystemVerilog
*.c linguist-language=C
*.h linguist-language=C
