# Ignore everything outside software/
code/* linguist-documentation
code/.qsys_edit/** linguist-documentation
code/base_sys/** linguist-documentation
code/db/** linguist-documentation
code/incremental_db/** linguist-documentation
code/output_files/** linguist-documentation

# Specifically allow the software/ folder to count
code/software/** linguist-language=SystemVerilog

# (Optional) Force SystemVerilog language tagging
*.sv linguist-language=SystemVerilog
*.v  linguist-language=SystemVerilog
